.button {
  background: var(--color-thirdly);
  border: 0;
  color: var(--color-white);
  cursor: pointer;
}

.button__inner {
  font-weight: bold;
}

.button_theme_circle {
  border-radius: 50%;
  min-width: 28px;
  min-height: 28px;
}

.button_theme_transparent {
  background: none;
  color: var(--color-gray);
}

.button_theme_transparent:hover {
  color: var(--color-thirdly);
}

.button_theme_square {
  border-radius: 8px;
  min-width: 95px;
  padding: 0.75rem;
}

.button_text-size_s {
  font-size: var(--font-size-s);
}

.button_text-size_m {
  font-size: var(--font-size-m);
}

.button_text-size_l {
  font-size: var(--font-size-l);
}

.button_text-size_xl {
  font-size: var(--font-size-xl);
}

.button_text-size_xxl {
  font-size: var(--font-size-xxl);
}

.button_text-size_xxxl {
  font-size: var(--font-size-xxxl);
}
