import React, { FC } from 'react';
import { OwnProps } from './types';
import './{{ properCase name }}.css';

type Props = FC<OwnProps>;

export const {{ properCase name }}: Props = () => (
  <div>{{ properCase name }} component</div>
);
