.user {
  align-items: center;
  display: flex;
}

.user__name {
  font-size: var(--font-size-l);
  font-weight: bold;
}

.user__avatar {
  margin-right: 0.6rem;
  max-height: 47px;
  max-width: 47px;
}
